<%= render "layouts/header" %>
<style>
table, th, td {
  border: 1px dotted black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>

<div class="content">

<h1> Users in Database </h1>
<p></p>
<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Email Address</th>
    <th>Account Status</th>
    <th></th>
  </tr>
<% @users.each do |users| %>
  
   <tr>
     <td><%= users.id %></td>
     <td><%= users.email %></td>
     <td><%= users.account_status %></td>
     <td><%= link_to "activate", 
                     :controller => "admins", 
                     :action => "user_activate", 
                     :id => users.id %>
     </td>  
  </tr>
   
   <% end %>
</table>
</div>
<%= render "layouts/footer" %>