<%= render "layouts/header" %>
<div class="content">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   <table style="width:55%; justify-cotent: center">
    <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>

    <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>

    <% if devise_mapping.rememberable? %>
    <tr>
      <td></td>
      <td><%= f.check_box :remember_me, {checked: true} %> <%= f.label :remember_me %></td>
    </tr>
    <% end %>
    <tr>
    <td></td>
    <td><%= f.submit "Login" %></td>
    </tr>
    </table>
    <br>
    <%= content_tag(:div, flash[:error], :style => "color: #b77b4f") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :style => "color: #b77b4f") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :style => "color: #b77b4f") if flash[:alert] %>
  <%= render "users/shared/error_messages", resource: resource %>
  </div>

<% end %>


</div>
<%= render "layouts/footer" %>
