<%= render "layouts/header" %>

<div class="content">
<p><strong>Email Address:</strong> <%= @user.email %></p>
<p><strong>Account Status:</strong> <%= @user.account_status %></p>
<p><strong>OpenVPN File:</strong> 

<% if @user.account_status == "inactive" %>
  N/A - Awaiting Payment
<br>
<br>

<p><strong>Notice:</strong> 
<p style="color: #c18c5d">Not accepting any payments yet. Links are just for preview.</p>
<!--<p style="color: #c18c5d">Please make payment using any of the below methods. Once processed your OpenVPN file will be become available.</p>-->
<!--<p style="color: #c18c5d">R108.00 / $6.50 Per Month - Pay as you go.</p>-->
<br>
<%= link_to "Subscribe", "/user/subscribe" %>


<br>

<% else %>
  <%= link_to "Download",
               :controller => "users",
               :action => "download_ovpn_file" %>
<% end %>
</p>
</div>

<%= render "layouts/footer" %>
