<%= render "layouts/header" %>

<div class="content">

<h3>Frequently Asked Questions</h3>

<p><strong>Q: </strong>Which protocols are supported?</p>
<p><strong>A: </strong>We are currently only running OpenVPN.</p>
<br>
<p><strong>Q: </strong>What speeds can I expect?</p>
<p><strong>A: </strong>There is a minimum 100mbps shared line.</p>
<br>
<p><strong>Q: </strong>What is your contention ratio?</p>
<p><strong>A: </strong>The ration is 15:1.</p>
<br>
<p><strong>Q: </strong>Which Operating Systems are supported?</p>
<p><strong>A: </strong>Linux, Windows, Android and IOS/Mac.</p>
<br>
<p><strong>Q: </strong>Which software do I need to install?</p>
<p><strong>A: </strong>The <%= link_to "OpenVPN client", "https://openvpn.net/download-open-vpn/", target: "_blank" %> can be used for Linux, Windows, Android & IOS. For Mac the <%= link_to "Viscosity client", "https://www.sparklabs.com/viscosity/", target: "_blank" %> can be used.</p>
<br>

<hr Align=left>
<p>View the <%= link_to "Privacy Policy", "https://vpn.tattva.network/assets/privacy.txt" %> and <%= link_to "Usage Terms", "https://vpn.tattva.network/assets/privacy.txt" %> pages for other details.</p>

</div>

<%= render "layouts/footer" %>
