<%= image_tag("garuda-header.png", class: "garuda-header") %>

<hr>
<span>
<ul><a href="<%= root_path %>">home</a></ul>
<ul><%= link_to 'pricing', controller: '/pricing' %></ul>
<ul><%= link_to 'faq', controller: '/faq' %></ul>
<ul><%= link_to 'contact', controller: '/contact' %></ul>
<ul> | </ul>
<% if user_signed_in? %>
  <ul><%= link_to "dashboard", controller: 'users' %></ul>
  <ul><%= link_to "logout", destroy_user_session_path, method: :delete %></ul>
<% else %>
  <ul><%= link_to "login", new_user_session_path %></ul>
  <ul><%= link_to "sign up", new_user_registration_path %></ul>
<% end %>
</span>

