<!DOCTYPE html>
<html>
  <head>
    <title>VPN provider - SA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://www.paypal.com/sdk/js?client-id=AVm16FFwezt03m7PB-a1Jav93krEpF4sGktXjPUiCgUAAqd52QmkPpvCwRjkbYfx1x6DfO7Yt0fOLLrW"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
